{%extends 'base.html'%}
{%load bootstrap4%}
{%block content%}

<main>
    <div class="container-fluid">
        <!--Carousel Wrapper-->
        <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-2" data-slide-to="0"></li>
                <li data-target="#carousel-example-2" data-slide-to="1"></li>
                <li data-target="#carousel-example-2" data-slide-to="2" class="active"></li>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="view">
                        <img style="height: 550px;" class="d-block w-100"
                            src="http://2.bp.blogspot.com/-tZgzh_hv6tM/T8xAdXBO-VI/AAAAAAAAAUI/j7V_EXjGyw4/s1600/nature+wallpaper+(6).jpg"
                            alt="First slide">
                        <div class="mask rgba-black-strong"></div>
                    </div>
                    <div class="carousel-caption">
                        <h1 style="font-size: 70px;" class="page-title">
                            Project Rating Attributes
                        </h1>

                        <div class="circles">
                            <div class="first circle">
                                <strong></strong>
                                <span>DESIGN</span>
                            </div>

                            <div class="second circle">
                                <strong></strong>
                                <span>USABILITY</span>
                            </div>

                            <div class="third circle">
                                <strong></strong>
                                <span>CONTENT</span>
                            </div>

                            <div class="fourth circle">
                                <strong></strong>

                                <span>OVERALL</span>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                        <img style="height: 500px;" class="d-block w-100"
                            src="https://ak9.picdn.net/shutterstock/videos/10368959/thumb/1.jpg" alt="Second slide">
                        <div class="mask rgba-black-strong"></div>
                    </div>
                    <div class="carousel-caption">
                        <h1 style="font-size: 70px;" class="page-title">
                            Project Rating Attributes
                        </h1>


                        <div class="circles">
                            <div class="first circle">
                                <strong></strong>

                                <span>DESIGN</span>
                            </div>

                            <div class="second circle">
                                <strong></strong>

                                <span>USABILITY</span>
                            </div>

                            <div class="third circle">
                                <strong></strong>

                                <span>CONTENT</span>
                            </div>

                            <div class="fourth circle">
                                <strong></strong>

                                <span>OVERALL</span>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                        <img style="height: 550px;" class="d-block w-100"
                            src="https://images.pexels.com/photos/326058/pexels-photo-326058.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            alt="Third slide">
                        <div class="mask rgba-black-strong"></div>
                    </div>
                    <div class="carousel-caption">
                        <h1 style="font-size: 70px;" class="page-title">
                            Project Rating Attributes
                        </h1>

                        <div class="circles">
                            <div class="first circle">
                                <strong></strong>

                                <span>DESIGN</span>
                            </div>

                            <div class="second circle">
                                <strong></strong>

                                <span>USABILITY</span>
                            </div>

                            <div class="third circle">
                                <strong></strong>

                                <span>CONTENT</span>
                            </div>

                            <div class="fourth circle">
                                <strong></strong>

                                <span>OVERALL</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--/.Slides-->
            <!--Controls-->
        </div>
        <div class="container-fluid con">
            <div class="gallery" style='margin-top: 2%'>
                {% if projects %}
                {% for project in projects %}

                <div class="card text-center">
                    <div class="card-header bg-nav">
                        <div class="row">
                            <div class="profile-image">
                                <img src="{{project.profile.profile_pic.url}}" class="imgz">
                            </div>
                            <h2 class="text-white name">{{project.main_user}}</h2>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="main-image">
                            <img class="img-fluid" src="{{project.image.url}}" width="100%">
                        </div>


                    </div>
                    <div class="card-footer text-muted">
                        <div>
                            <h5 class="card-title"> <span><strong>Name: </strong></span>{{project.title}}</h5>
                            <hr>
                            <p class="card-text"><span><strong>Description: </strong></span>{{project.description}}</p>
                            <hr>
                            <a href="{{project.link}}"> <button type="button" class="btn bg-maroon">Tour
                                    Project</button> </a>
                            <hr>
                            <p>posted {{project.upload_date|timesince}} ago</p>
                        </div>
                    </div>

                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true" style="margin-top: 200px">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalScrollableTitle">{{user}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img src="{{project.image.url}}" class="image-fluid" data-toggle="modal"
                                    data-target="#exampleModalScrollable">
                            </div>
                            <div class="modal-footer">
                                <h4>{{project.description}}</h4>
                                <h5 class="gallery-item-likes"><span class="visually-hidden">Ratings:</span><i
                                        class="fas fa-heart" aria-hidden="true"></i> {{project.rating}}</h5>

                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
            {% else %}
            <div class="alert">
                <h2 class="alert alert-info animated fadeIn"> The awards for design, creativity and innovation on the
                    Internet
                </h2>
            </div>
            {% endif %}
        </div>

</main>

{%endblock%}